<div class="container my-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">View Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et minima veniam labore
                consequuntur recusandae dolore dolorum consectetur voluptatem accusantium excepturi, sed saepe ipsam
                atque quae laborum assumenda modi, officia sit!</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="https://www.pngitem.com/pimgs/m/22-220721_circled-user-male-type-user-colorful-icon-png.png" class="contact-img-big">
        </div>
        <div class="col-sm-6 align-items-center">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">Name:<span class="fw-bold">Name</span></li>
                <li class="list-group-item list-group-item-danger">Email:<span class="fw-bold">Email</span></li>
                <li class="list-group-item list-group-item-danger">Mobile:<span class="fw-bold">Mobile</span></li>
                <li class="list-group-item list-group-item-danger">Company:<span class="fw-bold">Company</span></li>
                <li class="list-group-item list-group-item-danger">Title:<span class="fw-bold">Title</span></li>
                <li class="list-group-item list-group-item-danger">Group Name:<span class="fw-bold">Group Name</span></li>
            </ul>
        </div>
    </div>
</div>