<div class="container my-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">Add Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et minima veniam labore
                consequuntur recusandae dolore dolorum consectetur voluptatem accusantium excepturi, sed saepe ipsam
                atque quae laborum assumenda modi, officia sit!</p>
        </div>
    </div>
</div>

<!-- contact form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input class="form-control" type="text" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input class="form-control" type="text" placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input class="form-control" type="email" placeholder="email">
                </div>
                <div class="mb-2">
                    <input class="form-control" type="number" placeholder="Mobile Number">
                </div>
                <div class="mb-2">
                    <input class="form-control" type="text" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input class="form-control" type="text" placeholder="Title">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option>Select Group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Create">
                    <a routerLink="/" class="btn btn-dark ms-2">close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="https://www.pngitem.com/pimgs/m/22-220721_circled-user-male-type-user-colorful-icon-png.png" alt="" class="contact-img">
        </div>
    </div>
</div>